@charset "UTF-8";

/* CSS Document */

/* FOOTER */

.footer.fixed {
  position: fixed;
  bottom: 0;
  padding-bottom: 35px;
}
.footer {
  width: 100%;
  height: auto;
  text-align: center;
  padding-bottom: 35px;
  z-index: 9999;
}
.footer p {
  text-transform: uppercase;
  font-family: "Gelion Regular";
  letter-spacing: 0.2em;
}

.footer .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.footer .menu-footer {
  padding-bottom: 50px;
  width: 100%;
}
.footer .menu-footer li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.footer .menu-footer li a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: auto;
  height: 36px;
}
.footer .menu-footer li a:hover {
  transform: scale(1.1);
}
.footer .menu-footer li a img {
  width: 100%;
  max-width: 45px;
  object-fit: contain;
  padding-right: 10px;
}

/* RESPONSIVE */

@media (max-width: 767px) {
  .footer .menu-footer li a img {
    max-width: 36px;
  }
}
@media (max-width: 600px) {
  .footer .menu-footer {
    margin-top: 5px;
    padding-right: 0;
    margin-bottom: 40px;
  }
  .footer .container {
    flex-direction: column;
  }
}
