@charset "UTF-8";

/* CSS Document */

/* WINE */

.wine{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}
.wine .info{
    width: 100%;
    border-width: 4px;
    border-style: solid;
    box-sizing: border-box;
    border-radius: 30px;
    padding: 30px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}
.wine figure{
    width: 60%;
    overflow: hidden;
    box-shadow: 0px 24px 74px -40px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    background-color: #fff;
    position: relative;
    text-align: center;
}
.wine .content{
    width: 40%;
    padding-left: 5%;
}
.wine .content .price-old{
    text-decoration-line: line-through;
}
.wine .content .price{
    font-family: 'Montserrat Bold';
}
.wine .content .action .button{
    padding: 14px 15px 15px;
}
.wine .more-info {
    width: 100%;
    border-width: 4px;
    border-style: solid;
    box-sizing: border-box;
    border-radius: 30px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.wine .more-info > div{
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 2px solid #603472;
}
.wine .more-info > div:last-child{
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}
.wine .more-info .infos{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.wine .more-info .infos .item{
    width: 48.5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 15px 0;
}
.wine .more-info .infos .item .image{
    padding-right: 15px;
}

/* RESPONSIVES */

@media (max-width: 1200px) {
    .wine .content .action .icon-button{
        width: 26px;
        height: 26px;
    }
}

@media (max-width: 767px) {
    
    .wine .info{
        flex-direction: column;
    }
    .wine figure{
        margin-bottom: 40px;
    }
    .wine figure,
    .wine .content,
    .wine .more-info .infos .item{
        width: 100%;
    }
    .wine .content{
        padding-left: 0%;
    }
    
}