@charset "UTF-8";

/* CSS Document */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style-type: none;
}
a,
button,
input[type="submit"] {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
a,
img,
a:hover,
button {
  text-decoration: none;
  outline: none !important;
}
h1,
h2,
h3,
h4 {
  font-weight: normal;
}
img {
  max-width: 100%;
  height: auto;
}
:focus,
:hover,
:active {
  outline: none !important;
}
body {
  overflow-x: hidden;
}
html,
body,
#root {
  height: 100%;
}

/* --- FONTS --- */

@font-face {
  font-family: "Montserrat ExtraLight";
  src: url("../fonts/montserrat-extralight.woff2") format("woff2"),
    url("../fonts/montserrat-extralight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat Light";
  src: url("../fonts/montserrat-light.woff2") format("woff2"),
    url("../fonts/montserrat-light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat Regular";
  src: url("../fonts/montserrat-regular.woff2") format("woff2"),
    url("../fonts/montserrat-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat SemiBold";
  src: url("../fonts/montserrat-semibold.woff2") format("woff2"),
    url("../fonts/montserrat-semibold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat Bold";
  src: url("../fonts/montserrat-bold.woff2") format("woff2"),
    url("../fonts/montserrat-bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat Extrabold";
  src: url("../fonts/montserrat-extrabold.woff2") format("woff2"),
    url("../fonts/montserrat-extrabold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat Black";
  src: url("../fonts/montserrat-black.woff2") format("woff2"),
    url("../fonts/montserrat-black.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* --- END FONTS --- */

/* --- COLORS --- */

/* TEXT */

.text-primary {
  color: #381945;
}
.text-secondary {
  color: #ffc540;
}
.text-support {
  color: #ffffff;
}
.text-feature {
  color: #deabbc;
}

/* BACKGROUND */

.bg-yellow {
  background-color: #ffc540;
}
.bg-purple {
  background-color: #381945;
}

/* BORDER */

.border-yellow {
  border-color: #ffc540;
  background-color: transparent;
}
.border-purple {
  border-color: #663a79;
}
.border-white {
  border-color: #ffffff;
}

/* --- END COLORS --- */

/* --- TEXTS --- */

.text {
  font-family: "Montserrat ExtraLight";
  line-height: 1.4em;
}

/* SIZE TEXT */

.text-size-default {
  font-size: 30px;
}
.text-size-small {
  font-size: 26px;
}
.text-size-extrasmall {
  font-size: 20px;
}

/* --- END TEXTS --- */

/* --- TITLES --- */

.title {
  font-family: "Montserrat ExtraLight";
  font-weight: normal;
  line-height: 1em;
}
.title strong {
  font-family: "Montserrat Black";
  display: block;
}
.title.h2 strong,
.title.h3 strong {
  font-family: "Montserrat ExtraBold";
}

/* SIZE TITLES */

.title.h1 {
  font-size: 80px;
}
.title.h2 {
  font-size: 72px;
}
.title.h3 {
  font-size: 42px;
}

/* Price */
.price .title.h1,
.price .title.h2 {
  font-size: 57px;
}

/* --- END TITLES --- */

/* --- BUTTONS --- */

.button {
  width: auto;
  height: auto;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-family: "Montserrat Semibold";
  font-weight: normal;
  border-radius: 8px;
  padding: 39px 35px 40px;
  cursor: pointer;
  border-width: 0;
}
.button.button-success {
  background-color: #75a843;
}
.button.button-error {
  background-color: #d93347;
}
.button.button-small {
  display: inline-block;
  height: auto;
}
.button.button100 {
  width: 100%;
  display: flex;
}
.button.button-disabled {
  background-color: #d1d1d1;
  color: #fff;
  cursor: default;
  pointer-events: none;
}

/* BACKGROUND BUTTON */

.button.bg-red {
  color: #fff;
}
.button.bg-purple:hover {
  background: #ffc540;
}
.button.bg-yellow:hover {
  color: #381945;
  background: #fff;
}

/* BORDER BUTTON */

.button-border {
  border-style: solid;
  border-width: 1px;
  background-color: transparent;
}
.button.button-border:hover {
  color: #ffc540;
  border-color: #ffc540;
}

/* ICON BUTTON */

.icon-button {
  width: 26px;
  height: 26px;
  float: left;
  margin: 0px 12px 0 0;
  filter: brightness(1);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.icon-button.small {
  width: 14px;
  height: 14px;
  margin: 2px 7px 0 0;
}

/* --- END BUTTONS --- */

/* --- MARGIN & PADDING --- */

.mb0 {
  margin-bottom: 0 !important;
}
.mb1 {
  margin-bottom: 1vh;
}
.mb2 {
  margin-bottom: 2vh;
}
.mb3 {
  margin-bottom: 3vh;
}
.mb4 {
  margin-bottom: 4vh;
}
.mb5 {
  margin-bottom: 10vh;
}
.mt0 {
  margin-top: 0 !important;
}
.mt1 {
  margin-top: 1vh;
}
.mt2 {
  margin-top: 2vh;
}
.mt3 {
  margin-top: 3vh;
}
.mt4 {
  margin-top: 4vh;
}
.mt5 {
  margin-top: 5vh;
}
.ml-auto {
  margin-left: auto;
}
.mr-auto {
  margin-right: auto;
}
.padding30 {
  padding: 30px;
}
.padding40 {
  padding: 40px;
}
.padding50 {
  padding: 50px;
}

/* --- END MARGIN & PADDING --- */

/* --- CONTAINER --- */

main {
  width: 100%;
  min-height: calc(100vh - 230px);
  height: calc(100% - 230px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
}
.container {
  width: 80%;
  max-width: 1080px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.center-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

/* CENTER FLEX */

.center-flex {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* --- END CONTAINER --- */

/* Arrow Carrousel */
.react-multi-carousel-list {
  padding-bottom: 50px !important;
  margin-bottom: 100px !important;
}
.react-multiple-carousel__arrow {
  bottom: 0px;
  background: #663a79 !important;
  width: 92px;
  height: 92px;
  border-radius: 50% !important;
}

.react-multiple-carousel__arrow::before {
  font-weight: 900 !important;
  font-size: 38px !important;
}

.react-multiple-carousel__arrow--left {
  left: calc(50% - 115px) !important;
}

.react-multiple-carousel__arrow--right {
  right: calc(50% - 115px) !important;
}

.mt10-pergunta {
  margin-top: 10vh;
}

/* --- WELCOME --- */

.welcome .header {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.welcome .header .logo img {
  width: auto;
  max-height: 300px;
}

/* --- END WELCOME --- */

/* --- HOME --- */

.div {
  width: 105px;
  height: 10px;
  background: #e4c0f1;
  opacity: 0.1;
  margin: 3.5vw 0;
}

/* --- END HOME --- */

/* --- ANSWERS --- */

.answers .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.answers.country .row.center {
  justify-content: center;
}
.answers .active a,
.answers .active a:hover,
.answers .active a:focus {
  background-color: #ffc540;
  border-color: #ffc540;
  color: #41204f;
}
.answers .full {
  width: 100%;
}
.answers .half {
  width: 48%;
}
.answers .quarter {
  /* width: 22.5%; */
  width: calc(100% / 4 - 27px);
  display: flex;
}
.answers.country .row.center .quarter {
  margin: 0 1.3% 3vh 1.3%;
}
.answers > div:last-child {
  margin-bottom: 0 !important;
}
.answers a {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 4px 30px rgb(46 11 60 / 20%);
  color: #583465;
}
.answers a img {
  width: 100%;
  max-width: 64px;
  max-height: 64px;
  margin-bottom: 10px;
}

.answers.country a {
  font-size: 24px;
  justify-content: space-between;
}

.grid {
  display: grid;
}

.hide-pergunta {
  opacity: 0.3;
  pointer-events: none;
}

.ajuste {
  text-align: center;
}

.ajusteSearch {
  text-align: right;
}

.ajuste .title {
  text-align: left;
}

.contents {
  display: contents !important;
}

.contents .full {
  margin-top: 3vh;
}

.content-start-opcoes {
  display: flex;
  justify-content: space-between;
}

.oneColuna {
  grid-template-columns: 1fr;
  /* grid-row-gap: 3vh; */
  /* grid-column-gap: 30px; */
}

.twoColuna {
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 40px;
}

.country-custom {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.country-custom .quarter {
  margin: 10px;
  height: 200px;
}

.country-custom .quarter:nth-child(4n) {
  /* margin-right: 0px; */
}

/* --- END ANSWERS --- */

/* --- SUCCESS --- */

.div-success {
  width: 100%;
  height: auto;
  border-bottom: 2px solid#603472;
  padding: 0;
  margin: 50px 0;
  float: left;
}

.choose-wine {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.choose-wine figure {
  width: 27%;
  margin-right: 3%;
  max-height: 350px;
  background-color: #fff;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0px 24px 74px -40px rgba(0, 0, 0, 0.05);
  text-align: center;
}
.choose-wine figure img {
  width: 100%;
  object-fit: contain;
  max-height: 350px;
  padding: 10px;
}
.choose-wine .title {
  width: 70%;
}
.success .action {
  width: 100%;
  text-align: center;
}

/* --- END SUCCESS --- */

/* --- GLOBAL RESPONSIVE --- */

@media (max-width: 767px) {
  /* TEXT */
  .text-size-small,
  .text-size-default {
    font-size: 16px;
    line-height: 1.5em;
  }
  .text-size-extrasmall {
    font-size: 13px;
    line-height: 1.2em;
  }

  /* TITLES */

  .title.h1 {
    font-size: 36px;
  }
  .title.h2 {
    font-size: 30px;
  }
  .title.h3 {
    font-size: 16px;
  }
  .title strong {
    display: initial;
  }

  /* BUTTONS */

  .button {
    padding: 9px 20px 10px;
  }
  .icon-button {
    width: 5.5vw;
    height: 5.5vw;
  }

  /* WELCOME */

  .welcome .header .logo img {
    max-height: 200px;
  }

  /* --- ANSWERS --- */

  .answers .half {
    width: 100%;
  }
  .answers.country .row.center,
  .answers.country {
    justify-content: space-between;
  }
  .answers .quarter,
  .answers.country .row.center .quarter {
    width: 48%;
    margin: 0 0 3vh;
  }

  /* --- END ANSWERS --- */

  /* --- SUCCESS --- */

  .choose-wine {
    flex-direction: column;
  }
  .choose-wine figure {
    width: 100%;
    margin-right: 0%;
    margin-bottom: 30px;
  }
  .choose-wine .title {
    width: 100%;
  }

  /* --- END SUCCESS --- */
}
@media (max-width: 460px) {
}

/* --- END GLOBAL RESPONSIVE --- */
