@charset "UTF-8";

/* CSS Document */

.card-pesquisa .card {
  width: 96%;
  border-width: 4px;
  border-style: solid;
  box-sizing: border-box;
  border-radius: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.card-pesquisa .card figure {
  width: 100%;
  max-height: 350px;
  overflow: hidden;
  box-shadow: 0px 24px 74px -40px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  background-color: #fff;
  position: relative;
  text-align: center;
}
.card-pesquisa figure .flag {
  width: 100%;
  height: 100%;
  max-width: 44px;
  max-height: 44px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 15px;
  top: 15px;
}
/* figure .flag.africa-sul {
  background-image: url(../../images/flag-south-africa.svg);
}
figure .flag.alemanha {
  background-image: url(../../images/flag-germany.svg);
}
figure .flag.argentina {
  background-image: url(../../images/flag-argentina.svg);
}
figure .flag.australia {
  background-image: url(../../images/flag-australia.svg);
}
figure .flag.brasil {
  background-image: url(../../images/flag-brazil.svg);
}
figure .flag.chile {
  background-image: url(../../images/flag-chile.svg);
}
figure .flag.espanha {
  background-image: url(../../images/flag-spain.svg);
}
figure .flag.franca {
  background-image: url(../../images/flag-france.svg);
}
figure .flag.hungria {
  background-image: url(../../images/flag-hungary.svg);
}
figure .flag.italia {
  background-image: url(../../images/flag-italy.svg);
}
figure .flag.libano {
  background-image: url(../../images/flag-lebanon.svg);
}
figure .flag.nova-zelandia {
  background-image: url(../../images/flag-new-zealand.svg);
}
figure .flag.portugal {
  background-image: url(../../images/flag-portugal.svg);
}
figure .flag.uruguai {
  background-image: url(../../images/flag-uruguay.svg);
} */
.card-pesquisa .card figure img {
  width: 100%;
  max-height: 350px;
  min-height: 350px;
  margin: 0 auto;
  object-fit: contain;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.card-pesquisa .card .content {
  width: 100%;
}
.card-pesquisa .card .content .title {
  text-align: center;
  line-height: 1.3em;
  font-family: "Gelion Regular";
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
}
.card-pesquisa .card .content .price {
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.card-pesquisa .card .content .price .old {
  text-decoration-line: line-through;
}
.card-pesquisa .card .content .action {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* .text-size-default {
  font-size: 17px !important;
} */

/* RESPONSIVES */

@media (max-width: 600px) {
  .card-pesquisa .card {
    width: 100%;
    border-width: 2px;
    border-radius: 20px;
    padding: 20px;
  }
  .card-pesquisa .card figure {
    border-radius: 15px;
  }
  .card-pesquisa .card figure img {
    max-height: 320px;
  }
  .card-pesquisa .card figure .flag {
    max-width: 32px;
    max-height: 32px;
  }
}

.react-multi-carousel-dot button {
  border-color: #663a79 !important;
  background: transparent !important;
  border-width: 2px !important;
}

.react-multi-carousel-dot--active button {
  background: #663a79 !important;
  border-width: 2px !important;
}

.react-multi-carousel-track {
  padding-bottom: 12px !important;
}
